.CoinHeader {
	width: fit-content;

	display: flex;
	align-items: center;

	gap: 8px;
	padding: 4px 8px;

	background-color: var(--color-background-reverse);
	border-radius: 24px;
}

.CoinHeader p {
	color: var(--color-background)
}