.Tab {
	padding: 12px 16px;

	border-radius: 28px;
}

.Default {
	color: var(--color-font-black);

	background-color: var(--color-background-white);
	box-shadow: var(--shadow-s);

	.Button {
		background-color: var(--color-accent);
	}

	.Text {
		color: var(--color-font-gray);
	}

	svg path {
		fill: var(--color-background-black);
	}
}

.Primary {
	background-color: #42C64A;
	color: var(--color-background-white);

	.Button {
		background-color: var(--color-background-white);
	}
}

.Title {
	display: flex;
	align-items: center;

	gap: 6px;

	font: var(--font-default);
	font-weight: var(--font-weight-semibold);
}

.Text {
	margin-top: 4px;

	font-size: 12px;
	line-height: 130%;
	font-weight: var(--font-weight-semibold);
}

.Button {
	display: block;

	margin-top: 12px;
	padding: 12px 20px;

	transition: .4s;
	text-decoration: none;
	text-align: center;

	color: var(--color-font-black);
	font: var(--font-small);
	font-weight: var(--font-weight-semibold);

	border: none;
	border-radius: 18px;

	&:active {
		transform: scale(1.05);
	}
}