.Slider {
	display: flex;
	align-items: center;

	width: calc(100% + 15px);

	gap: 10px;

	white-space: nowrap;
	overflow-x: scroll;
}


.Slider::-webkit-scrollbar {
	width: 0;
	display: none;
	-webkit-appearance: none;
}