.Container {
	position: relative;

	width: 100%;
	max-width: 380px;
	height: 420px;

	display: flex;

	padding: 20px;

	color: var(--color-background-white);
	background-color: var(--color-primary-light);
	border-radius: 28px;

	transition: .4s ease;
	overflow: hidden;

	@media (hover: hover) and (pointer: fine) {
		&:active {
			transform: scale(1.1);
		}
	}

	@media (hover: none) and (pointer: coarse) {
		&:active {
			transform: scale(.9);
		}
	}
}

.Box {
	content: '';
	position: absolute;
	width: 200%; /* Увеличиваем ширину, чтобы линия достигала середины правого края */
	height: 85px; /* Ширина линии */
	background: var(--color-accent); /* Цвет линии */
	z-index: 1;

}

.Container h1 {
	width: 70%;
	height: fit-content;
}

.Container img {
	position: absolute;
	bottom: 0;
	right: 0;

	z-index: 2;
}