.TitleFlex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Page {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.PageTab {
	padding: 16px 15px 0 15px;
}

.ScrollTab {
	padding-top: 10px;
	padding-left: 15px;
}