@mixin responsive-hover-active() {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			transform: var(--default-desktop-scale-animation-hover);
		}

		&:active {
			transform: var(--default-desktop-scale-animation-active);
		}
	}

	@media (hover: none) and (pointer: coarse) {
		&:hover {
			transform: var(--default-mobile-scale-animation-hover);
		}
	}
}


@mixin base-click-animation() {
	transition: .3s;

	&:active {
		transform: var(--default-mobile-scale-animation-active);
	}
}